<!doctype html>

<html lang="en" ng-app="anomalydetection" xmlns="http://www.w3.org/1999/xhtml" ng-controller="AnomalyDetectionController as ADC">
<head>
    <meta charset="utf-8" />
    <title>Anomoly</title>
    <link href="Style/bootstrap.min.css" rel="stylesheet" />
    <link href="Style/angular-csp.css" rel="stylesheet" />
    <link href="Style/jquery-ui.css" rel="stylesheet" />
    <link href="Style/anomaly.css" rel="stylesheet" />
    <link href="Style/screen.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-csv-import.js"></script>
    <script src="Scripts/angular-csv-import.min.js"></script>
    <script src="Scripts/AnomalyHome.js"></script>
    <script src="Scripts/jquery-1.8.2.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script src="Scripts/jquery.flot.min.js"></script>
    <script src="Scripts/jquery.csv.js"></script>
    <script src="Scripts/highcharts.js"></script>
    <script src="Scripts/highcharts-3d.js"></script>
    <script src="Scripts/canvasjs.js"></script>
    <script type="text/javascript">

    </script>




</head>

<body>
    <div id=tabs>
        <ul>
            <li><a href="#tabs-1">Home</a></li>
            <li><a href="#tabs-2">Scatter 2D Graph </a></li>
            <li><a href="#tabs-3">Scatter 3D Graph </a></li>
            <li><a href="#tabs-4">Cluster Detail </a></li>
            <li><a href="#tabs-5">Outliers Detail</a></li>
            <li><a href="#tabs-6">Check Samples</a></li>
            <li><a href="#tabs-7">Clusturing Algorithm for Kmean </a></li>
        </ul>
        <div id=tabs-1>
            <div class="container">
                <h2 class="PageHeaderH">Anomaly Detection</h2>
                <p align="justify" style="text-align:justify">
                    In data mining, anomaly detection (or outlier detection) is the identification of items, events or observations which do not conform to an expected pattern or other items in a dataset. Typically the anomalous items will translate to some kind of problem such as bank fraud, a structural defect, medical problems or errors in a text. Anomalies are also referred to as outliers, novelties, noise, deviations and exceptions.

                    In particular in the context of abuse and network intrusion detection, the interesting objects are often not rare objects, but unexpected bursts in activity. This pattern does not adhere to the common statistical definition of an outlier as a rare object, and many outlier detection methods (in particular unsupervised methods) will fail on such data, unless it has been aggregated appropriately. Instead, a cluster analysis algorithm may be able to detect the micro clusters formed by these patterns.

                    Three broad categories of anomaly detection techniques exist. Unsupervised anomaly detection techniques detect anomalies in an unlabeled test data set under the assumption that the majority of the instances in the data set are normal by looking for instances that seem to fit least to the remainder of the data set. Supervised anomaly detection techniques require a data set that has been labeled as "normal" and "abnormal" and involves training a classifier (the key difference to many other statistical classification problems is the inherent unbalanced nature of outlier detection). Semi-supervised anomaly detection techniques construct a model representing normal behavior from a given normal training data set, and then testing the likelihood of a test instance to be generated by the learnt model.


                </p>
            </div>
        </div>
        <div id=tabs-2>
            <div style="min-width: 310px; min-height: 400px; margin: 0 auto">
                <select id="AnomalySelector" ng-model="ADC.viewModel.Seloption2D">
                    <option value="">---Please select---</option>
                    <option ng-repeat="ano in ADC.viewModel.options2D" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                </select>
                <tt>option:{{ADC.viewModel.Seloption2D}}</tt>
                <button ng-click="ShowOnGraph()" class="submit">Graph</button>

                <div id="container" style="min-width: 800px; height: 400px; max-width: 1000px; margin: 10px auto ;">


                </div>
            </div>
        </div>
        <div id=tabs-3>
            <div style="min-width: 310px; min-height: 400px; margin: 0 auto">
                <select id="AnomalySelector3" ng-model="ADC.viewModel.Seloption3D">
                    <option value="">---Please select---</option>
                    <option ng-repeat="ano in ADC.viewModel.options3D" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                </select>
                <tt>option:{{ADC.viewModel.Seloption3D}}</tt>
                <button ng-click="ShowOnGraph3D()" class="submit">Graph</button>
                <div id="Chartcontainer3D" style="height: 500px; width: 1250px;">
                </div>
            </div>

        </div>
        <div id=tabs-4>
            <div>
                <select id="AnomalySelector2" ng-model="ADC.viewModel.Seloption">
                    <option value="">---Please select---</option>
                    <option ng-repeat="ano in ADC.viewModel.options" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                </select>
                <tt>option:{{ADC.viewModel.Seloption}}</tt>
                <button ng-click="queryClusterDetail()" class="submit">Detail</button>
                <table style="min-width:1000px;margin:10px auto ;">
                    <tr>
                        <th>Cluster ID</th>
                        <th>Centeroid - x-Dimension</th>
                        <th>Centeroid - y-Dimension</th>
                        <th>Centeroid - z-Dimension</th>
                    </tr>

                    <tr ng-repeat="cluster in ADC.viewModel.ClusterDetailtable" style="min-width: 800px;margin: 10px auto ;">
                       
                        <td>
                            {{ cluster.Cluster_Id }}
                        </td>
                        <td>
                            {{ cluster.Centeroid_Scalar_1_Value }}
                        </td>
                       
                        <td>
                            {{ cluster.Centeroid_Scalar_2_Value }}
                        </td>
                       
                        <td>
                            {{ cluster.Centeroid_Scalar_3_Value }}
                        </td>
                      
                       
                    </tr>
                </table>
                <table style="min-width:1000px;margin:10px auto ;">
                    <tr style="min-width:800px;margin:10px auto ;">
                        <th>Max Distance</th>
                        <th>Distance to next nearest cluster</th>
                        <th>Nearest Cluster</th>
                        <th>Distance nearest samples</th>
                    </tr>

                    <tr ng-repeat="cluster in ADC.viewModel.ClusterDetailtable" style="min-width: 800px;margin: 10px auto ;">
                        <td>
                            {{ cluster.Cluster_Id }}
                        </td>
                       
                        <td>
                            {{ cluster.Centeroid_Scalar_1_Value }}
                        </td>
                       
                        <td>
                            {{ cluster.Centeroid_Scalar_2_Value }}
                        </td>
                        
                        <td>
                            {{ cluster.Centeroid_Scalar_3_Value }}
                        </td>
                        
                    </tr>
                </table>
            </div>
        </div>
        <div id=tabs-5>
            <div>
                <form name="OutlierDetail">
                    <table class="planeTable">
                        <tr class="planeTable">
                            <td class="planeTable">
                                <label for="AnomalySelector2">Select Data Type:</label>
                            </td>
                            <td class="planeTable">
                                <select id="AnomalySelector2" ng-model="ADC.viewModel.Seloption">
                                    <option value="">---Please select---</option>
                                    <option ng-repeat="ano in ADC.viewModel.options" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                                </select>
                            </td>
                        <tr class="planeTable">
                            <td class="planeTable">
                                <label for="NumberK">Number of Clusters K:</label>
                            </td>
                            <td class="planeTable">
                                <input ng-pattern="onlyNumbers" ng-model="OutlierClusterN" name="NumberK" required />
                                Valid: {{OutlierDetail.NumberK.$valid}}
                            </td>
                            <td class="planeTable">
                                <i>*required</i>
                            </td>
                        </tr>
                    </table>

                    <button ng-disabled="!OutlierDetail.$valid" ng-click="queryOutlierDetail()" class="submit">Detail</button>

                    <div ng-if="!OutlierDetail.$valid">
                        We need all form fields properly filled out to continue.
                    </div>
                </form>
                    <table style="min-width:1000px;margin:10px auto ;">
                        <tr>
                            <th>Cluster ID</th>
                            <th>Outlier - x-Dimension</th>
                            <th>Outlier - y-Dimension</th>
                            <th>Outlier - z-Dimension</th>
                        </tr>

                        <tr ng-repeat="outlier in ADC.viewModel.OutlierDetailtable">
                            <td>
                                {{ outlier.Cluster_Id }}
                            </td>
                          
                            <td>
                                {{ outlier.Scalar_1_Value }}
                            </td>
                           
                            <td>
                                {{ outlier.Scalar_2_Value }}
                            </td>
                           
                            <td>
                                {{ outlier.Scalar_3_Value }}
                            </td>
                           

                        </tr>
                    </table>
</div>
        </div>
        <div id=tabs-6>
            <div>

                <form name="ClusterPlacement">
                    <div>
                        
                            <!--<table class="planeTable">
                                <tr class="planeTable">
                                    <td class="planeTable">
                                        <label>Select Data Type:</label>
                                    </td>
                                    <td class="planeTable">
                                        <select id="AnomalySelector3" ng-model="ADC.viewModel.Seloption4" required>
                                            <option selected disabled value="">---Please select---</option>
                                            <option ng-repeat="ano in ADC.viewModel.options" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                                        </select>
                                    </td>
                                    <td class="planeTable">
                                        <i>*required</i>
                                    </td>
                                </tr>
                                <tr class="planeTable">
                                    <td class="planeTable">
                                        <label>Select a data file:</label>
                                    </td>
                                    <td class="planeTable">
                                        <input type="file" name="Samplefile" ng-model="sampledataFile">
                                    </td>
                                    <td class="planeTable">
                                      
                                    </td>
                                </tr>
                                </table>-->
                    </div> 
                    <select id="AnomalySelector3" ng-model="ADC.viewModel.Seloption4" required>
                        <option selected disabled value="">---Please select---</option>
                        <option ng-repeat="ano in ADC.viewModel.options" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                    </select>

                    <div class="block row">
                        <div class="title"><h4>Select your CSV file: </h4></div>
                        <div class="block right">
                            <ng-csv-import class="import"
                                           content="csv.content"
                                           header="csv.header"
                                           header-visible="csv.headerVisible"
                                           separator="csv.separator"
                                           separator-visible="csv.separatorVisible"
                                           result="csv.result"
                                           encoding="csv.encoding"
                                           encoding-visible="csv.encodingVisible"></ng-csv-import>
                        </div>
                    </div>   
                    <div ng-if="csv.result">
                        <button ng-click="PositionInExistingClustering(csv.result)" class="submit">Show</button>
                    </div> 
                </form>
            </div>
            <table style="min-width:1000px;margin:10px auto ;">
                <tr>
                    <th>x-Dimension</th>
                    <th>y-Dimension</th>
                    <th>z-Dimension</th>
                    <th>Cluster ID</th>
                </tr>

                <tr ng-repeat="outlier in ADC.viewModel.OutlierDetailtable">
                    <td>
                        {{ outlier.Cluster_Id }}
                    </td>

                    <td>
                        {{ outlier.Scalar_1_Value }}
                    </td>

                    <td>
                        {{ outlier.Scalar_2_Value }}
                    </td>

                    <td>
                        {{ outlier.Scalar_3_Value }}
                    </td>


                </tr>
            </table>
        </div>
        <div id=tabs-7>
            <div>

         <form name="MachineLearning">
                    <div>
                        <table class="planeTable">
                            <tr class="planeTable">
                                <td class="planeTable">
                                    <label for="NumberK">Number of Clusters K:</label>
                                </td>
                                <td class="planeTable">
                                    <input ng-pattern="onlyNumbers" ng-model="MachineLClusterN" name="NumberK" required />
                                    Valid: {{MachineLearning.NumberK.$valid}}
                                </td>
                                <td style="border: none;
            border-collapse: collapse;
            padding: 5px;">
                                    <i>*required</i>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h3>Type of Data for Training</h3>
                    <br />
                    <div>
                        <label for="newdata">Upload new data</label>
                        <input id="newdata" type="radio" name="DataType" value="newdata" ng-model="DataType.MLType" ng-checked="true">
                        <br />
                        <label for="preexist">Pre Existing Data</label>
                        <input id="preexist" type="radio" name="DataType" value="preexist" ng-model="DataType.MLType">
                        <br />
                        <label for="updatedata">Upload data to existing Anomaly Data</label>
                        <input id="updatedata" type="radio" name="DataType" value="updatedata" ng-model="DataType.MLType">
                    </div>
                    <div>
                        <p ng-show="DataType.MLType == 'preexist'">
                            <select ng-model="ADC.viewModel.Seloption" required>
                                <option selected disabled value="">---Please select---</option>
                                <option ng-repeat="ano in ADC.viewModel.options" value="{{ano.Data_Id}}">{{ano.DataSet_Name}}</option>
                            </select>
                            <i>*required</i>
                        </p>
                        <p ng-show="DataType.MLType == 'updatedata'">
                            <select ng-model="ADC.viewModel.Seloption" required>
                                <option selected disabled value="">---Please select---</option>
                                <option ng-repeat="ano in ADC.viewModel.options" value="{{ano.Id}}">{{ano.Name}}</option>
                            </select>
                            <i>*required</i>
                        <p ng-hide="DataType.MLType == 'preexist'">
                            <input name="file" required type="file" ng-model="dataFile" ngf-accept="'data/*'" ngf-select="">
                            <i ng-show="myForm.file.$error.required">*required</i>
                            <i>*required</i>

                        </p>
                    </div>

                    <button ng-click="ADC.Train()" class="submit">Start</button>
                </form>
            </div>
        </div>


    </div>
    <footer></footer>
    <script>
  $(function() {
    $("#tabs").tabs();
  });



    </script>


</body>

</html>
