################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

k-means/src/AnomalyDetection.Interfaces/bin/Debug
src/AnomalyDetection.Interfaces/obj/Debug
src/AnomalyDetectionApi/bin/Debug
src/AnomalyDetectionApi/obj/Debug
UnitTest/bin/Debug
UnitTest/obj/Debug
/src/AnomalyDetection.Interfaces/bin/Debug/netstandard1.6
/src/AnomalyDetectionRestApi/bin/Debug/netcoreapp1.0
/src/AnomalyDetectionRestApi/obj/Debug/netcoreapp1.0
/WebApplication/bin
/WebApplication/obj/Debug
/Test/obj/Debug/netcoreapp1.0
/Test/bin/Debug/netcoreapp1.0
/AnomalyDetectionApi/obj/Debug/netstandard1.6
/AnomalyDetectionApi/bin/Debug/netstandard1.6
/AnomalyDetection.Interfaces/obj/Debug/netstandard1.6
/AnomalyDetection.Interfaces/bin/Debug/netstandard1.6
